<div class="jumbotron">
  <div class="container">
    <h1>Здравейте!</h1>
    <p>„Променѝ“ е онлайн платформа, на която се правят и обсъждат предложения на теми от гражданският сектор. Темите с по-голяма подкрепа ще бъдат промотирани пред компетентни лица.</p>
    <p>
    <%= link_to "Разбери още »", about_path, class: "btn btn-success btn-lg" %>
  </div>
</div>

<% @themes.in_groups_of(3).each do |group| %>
<div class="row">
  <% group.compact.each do |t| %>
    <div class="col-md-4">
      <h2><%= t.name %></h2>
      <p><%= truncate(t.info, length: 200) %></p>
      <p><%= link_to "Научи още! »", theme_path(t), class: "btn btn-default" %></p>
    </div>
  <% end %>
</div>
<% end %>

