<% voted_on = Voting.where(user: current_user).pluck(:votable_id, :value) %>


<div class="page-header">
  <h1><%= @theme.name %></h1>
</div>

<%= simple_format @theme.info %>

<% if user_signed_in? %>
  <br />
  <%= link_to "Направи предложение", new_proposal_path, class: "btn btn-success" %>

<% else %>

  <div id="not-registered" class="bs-callout bs-callout-danger">
    <h4>Само регистрирани потребители могат да правят предложения.</h4>
    Регистрирането ти позволява също да гласуваш и оставяш коментари. Можеш да се регистрираш <%= link_to "от тук", new_registration_path(:user) %>.
  </div>

<% end %>

<div ng-controller="ProposalController">
  <div class="row">
    <div class="col-md-9">
      <h2>Предложения</h2>
    </div>
    <div class="col-md-3">
      <div class="dropdown order">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
          {{ order }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="" ng-show="order != 'newest'" ng-click="order='newest'">Най-нови</a></li>
          <li><a href="" ng-show="order != 'oldest'" ng-click="order='oldest'">Най-стари</a></li>
          <li><a href="" ng-show="order != 'relevance'" ng-click="order='relevance'">Релевантност</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row" ng-repeat="proposal in proposals">
    <div class="col-md-1">

    </div>
    <div class="col-md-11">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="/proposals/{{proposal.id}}">{{ proposal.title }}</a>
          <small>
            | {{ proposal.rating }} точки |
            {{ proposal.comments }} коментара |
            автор: {{ proposal.username }}
          </small>
          </h3>
        </div>
        <div class="panel-body">
          {{ proposal.content }}
        </div>
      </div>
    </div>
  </div>
</div>
