<div ng-controller="ProposalController" ng-init="getProposal()">

<div class="row">
  <div class="col-md-1">
    <br />
    <br />
    <center>
      <voting-buttons votable="proposal" votable-type="'proposal'"></voting-buttons>
    </center>
  </div>
  <div class="col-md-11">
    <h1>{{ proposal.title }}</h1>
    <a class="btn btn-success btn-sm pull-left" href="/themes/{{ proposal.theme_id }}">{{ proposal.theme_name }}</a>
    <div class="btn-group pull-right">
      <a class="btn btn-default btn-sm" href="/proposals/{{ proposal.id }}/edit"><i class="fa fa-pencil"></i></a>
      <a class="btn btn-default btn-sm btn-danger" data-confirm="Сигурен ли си, че искаш да изтриеш това предложение?" data-method="delete" href="/proposals/{{ proposal.id }}" rel="nofollow">
        <i class="fa fa-times"></i>
      </a>
    </div>

    <div class="dropdown pull-right">
      <button class="btn btn-default btn-sm dropdown-toggle proposal-report" type="button" id="dropdownMenu1" data-disabled="true" data-toggle="dropdown">
        Докладвай
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="flag(proposal, 'spam')">СПАМ</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="flag(proposal, 'hatespeech')">Език на омразата</a></li>
      </ul>
    </div>
  </div>
</div>

<br />
    <div class="clearfix"></div>
    <alert ng-repeat="alert in proposal.alerts" type="{{alert.type}}" close="closeAlert(proposal)">{{alert.msg}}</alert>

{{ proposal.content }}

<div class="row">
  <div class="col-md-8">
    <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
    </div>
  </div>
  <div class="col-md-4">
    <a href="/users/{{proposal.user_id}}" class="btn btn-default btn-sm pull-right">{{ proposal.username }}</a>
  </div>
</div>


<hr />

<div ng-controller="CommentController" ng-init="queryComments()">

<h3>Коментари</h3>

<% if user_signed_in? %>

  <div id="warning-box" class="bs-callout bs-callout-danger" style="display:none">
    <h4>Само да ти кажем някои неща...</h4>
    Опитай се да бъдеш максимално изчерпателен(на). Всякакви расистки, хомофобски, сексистки, шовинистки коментари ще бъдат изтривани, както и коментари приканващи към насилие над хора или животни.
    Коментарите трябва да са с минимална дължина от 100 символа.
  </div>

  <textarea id="comment-box" name="" rows="8" cols="40" class="form-control" ng-model="newComment.content" ng-focus="showWarning()" placeholder="Напиши своя коментар тук."></textarea>
  <br />
  <div class="row">
    <div class="col-md-1">
      <button class="btn btn-success" ng-disabled="newComment.content.length < 100" ng-click="createNewComment()">Коментирай</button>
    </div>
    <div class="col-md-4">
      <p id="symbolsBox" class="text-muted text-right" ng-hide="newComment.content.length >= 100">Остават ти {{ 100 - newComment.content.length }} символа.</p>
    </div>
  </div>

<% else %>

  <div id="not-registered" class="bs-callout bs-callout-danger">
    <h4>Само регистрирани потребители могат да оставят коментари.</h4>
    Регистрирането ти позволява също да гласуваш. Можеш да се регистрираш <%= link_to "от тук", new_registration_path(:user) %>.
  </div>

<% end %>

<br />
<div class="row">
  <div class="col-md-2">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-disabled="true" data-toggle="dropdown">
        {{ order | translateOrder }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="" ng-show="order != 'newest'" ng-click="order='newest'">Най-нови</a></li>
        <li><a href="" ng-show="order != 'oldest'" ng-click="order='oldest'">Най-стари</a></li>
        <li><a href="" ng-show="order != 'relevance'" ng-click="order='relevance'">Релевантност</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-10">
    <pagination ng-model="currentPage" total-items="proposal.comments_count" items-per-page="<%= Comment.default_per_page %>" max-size="5"
    class="pull-right" boundary-links="true" rotate="false" num-pages="numPages" previous-text="Предишна" next-text="Следваща" first-text="Първа"
    last-text="Последна"></pagination>
  </div>
</div>
<br />

<div id="no-comments" class="bs-callout bs-callout-info" ng-show="comments.length == 0">
  <h4>Все още няма коментари!</h4>
  Бързо напиши един, за да изпревариш останалите!
</div>

<div id="comments-list">
  <div ng-repeat="comment in comments">

    <div class="row">
      <div class="col-md-1">
        <center>
          <voting-buttons votable="comment" votable-type="'comment'"></voting-buttons>

        </center>
      </div>
      <div class="col-md-11">
        <p>{{ comment.content }}</p>
        <alert ng-repeat="alert in comment.alerts" type="{{alert.type}}" close="closeAlert(comment)">{{alert.msg}}</alert>
        <div class="row">
          <div class="col-md-10">
            <div class="dropdown">
              <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-disabled="true" data-toggle="dropdown">
                Докладвай
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="flag(comment, 'spam')">СПАМ</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="flag(comment, 'hatespeech')">Език на омразата</a></li>
              </ul>
            </div>
            <button class="btn btn-default btn-xs" ng-click="destroyComment(comment, $index)">Изтрий</button>
          </div>
          <div class="col-md-2">
            <a href="{{ comment.user_profile_url }}" class="btn btn-default btn-xs pull-right">{{ comment.user.name }}<br>
              <i class="fa fa-gavel" ng-show="comment.moderator"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <hr ng-hide="$last"/>

  </div>
</div>

<pagination ng-model="currentPage" total-items="proposal.comments_count" items-per-page="<%= Comment.default_per_page %>" max-size="5"
class="pagination-sm pull-right" boundary-links="true" rotate="false" num-pages="numPages" previous-text="Предишна" next-text="Следваща" first-text="Първа"
last-text="Последна"></pagination>

</div><!-- end of Comment controller -->

</div> <!-- end of Proposal controller -->
