/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require proposals
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import "fonts";
@import "colors";

.row-no-gutter {
  [class*="col-"] {
    padding-left: 0;
  }
}

body {
  font-family: "obshtestvobg", "Myriad Pro", "Verdana", sans-serif;
  font-size: 15px;
}

div.container {
  max-width: 930px;
}

ul.nav-tabs {
  li {
    a {
      font-size: 1.1em;
    }
  }
}

h3.education, h3.volunteering, h3.participation, h3.ngo, h3.meta {
  a { color: black; }
  a:hover { color: #4586C8; }
}

h3.volunteering {
  margin-bottom: 1.3em;
}

.vertical-align {
  display: flex;
  align-items: center;
}
