<p>Здрасти. Как си? И аз.</p>

<p>Някой (може би ти!) е подал заявка да си смени паролата за „Гласът ни“. Можеш да го направиш от тук:</p>

<p><%= link_to '---> Това, което трябва да натиснеш, за да отидеш на вълшебното място за смяна на паролата. <---', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Това не си ти? Тогава просто игнорирай този мейл. Паролата си остава същата.</p>

<p>Чао.</p>
