<h1>Администраторски панел</h1>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>
</ul>

<h3>Последни коментари</h3>

<table class="table">
  <% @comments.each do |c| %>
    <tr>
      <td>
        <%= c.rating %><br />
      </td>
      <td><%= simple_format c.content %></td>
    </tr>
  <% end %>
</table>
