<h3>Платформата</h3>

„Ехо, има ли някой там?“. Този въпрос вероятно ще зададем, ако някой ден отидем на Марс. Сега обаче е важно да знаем – има ли някой тук, има ли граждани в България, които искат да кажат на вземащите решения как да променят държавата, средата. Kаним ви в тази платформа да коментирате какво мислите по въпроси като трябва ли децата да имат предмет гражданско образование, как могат гражданите ефективно да участват при правенето на закони, какво липсва за развитието на истинска доброволческа култура, кой и как да финансира гражданските инициативи. По-важното – ако дадете своите предложения по тези теми – това ще ви направи истински лидери на мнение в дискусията, с пряко участие в бъдещите законодателни инициативи на НПО. Glasani е платформа, в която менението ви е от значение.



