<h3>За платформата</h3>

<p>„Ехо, има ли някой там?“. Този въпрос вероятно ще зададем, ако някой ден отидем на Марс. Сега обаче е важно да знаем – има ли някой тук, има ли граждани в България, които искат да кажат на вземащите решения как да променят държавата, средата. Kаним ви в тази платформа да коментирате какво мислите по въпроси като трябва ли децата да имат предмет гражданско образование, как могат гражданите ефективно да участват при правенето на закони, какво липсва за развитието на истинска доброволческа култура, кой и как да финансира гражданските инициативи. По-важното – ако дадете своите предложения по тези теми – това ще ви направи истински лидери на мнение в дискусията, с пряко участие в бъдещите законодателни инициативи на НПО. „Гласът ни“ е платформа, в която менението ви е от значение.</p>

<h3>Как работи платформата?</h3>

<p>Много е просто. Всеки може да чете, но само регистрирани потребители могат да правят предложения, да пишат коментари и да гласуват. Нашите модератори с опит в гражданския сектор, ще направят всичко възможно предложенията да бъдат поставени на обсъждане и след това най-подкрепените предложения да бъдат внесени в съответните държавните институции.</p>

<p>Когато ти харесва някое предложение или коментар, но не се сещаш как да допринесеш към дискусията – тогава просто натискаш бутонът „+“. Така ти лесно и бързо изразяваш своето становище, а то ще бъде взето впредвид от модераторите. Подкрепените от общността предложения имат повече тежест. Не използвайте бутоните да изразявате несъгласие! Бутоните за гласуване трябва да отчитат едно нещо: до колко предложението е конструктивно и добре аргументирано.</p>

<p>Когато пишеш коменат или предложения те молим преди всичко за едно: опитай се да максимално ясно и подробно да развиеш своята теза, без да се опираш на лични преживявания.</p>

<p>Нека заедно да мислим и бъдем активни какво е важно днес да се случи!</p>
