<div ng-show="logged_in">

  <div id="warning-box" class="bs-callout bs-callout-danger" style="display:none">
    <h4>Само да ти кажем някои неща...</h4>
    Опитай се да бъдеш максимално изчерпателен(на). Всякакви расистки, хомофобски, сексистки, шовинистки коментари ще бъдат изтривани, както и коментари приканващи към насилие над хора или животни.
  </div>

  <textarea id="comment-box" name="" rows="3" cols="40" class="form-control" ng-model="newComment.content" ng-focus="showWarning()" placeholder="Напиши своя коментар тук."></textarea>
  <br />
  <div class="row">
    <div class="col-md-1">
      <button class="btn btn-success" ng-disabled="newComment.content == ''" ng-click="createNewComment()"><i class="fa fa-comment fa-lg"></i>&nbsp; Коментирай</button>
    </div>
  </div>

</div>
<div ng-hide="logged_in">

  <div id="not-registered" class="bs-callout bs-callout-danger">
    <h4>Само регистрирани потребители могат да оставят коментари.</h4>
    Регистрирането ти позволява също да гласуваш, да даваш предложения и да разбереш какъв интерес имат те сред другите участници от сайта. Бъди активен!
  </div>

</div>
