<div class="row">
  <div class="col-md-1">
    <center>
      <voting-buttons votable="comment" votable-type="'comment'"></voting-buttons>
      <p class="text-muted rating">{{ comment.hotness }}</p>
    </center>
  </div>
  <div class="col-md-11">
    <p>{{ comment.content }}</p>
    <alert ng-repeat="alert in comment.alerts" type="{{alert.type}}" close="closeAlert(comment)">{{alert.msg}}</alert>

    <div class="row">
      <div class="col-md-10">
        <comment-actions comment="comment"></comment-actions>
      </div>
      <div class="col-md-2">
        <a href="{{ comment.user_profile_url }}" class="btn btn-default btn-xs pull-right">{{ comment.user.name }}<br>
          <i class="fa fa-gavel" ng-show="comment.moderator"></i>
        </a>
      </div>
    </div>

    <br />
    <div class="row" ng-show="comment.showReplyBox">
      <textarea name="test" id="test" class="form-control" rows="2" ng-model="comment.reply"></textarea>
      <br />
      <button class="btn btn-success btn-xs" ng-click="replyToComment()">Прати</button>
      <button class="btn btn-link btn-xs" ng-click="cancelNewNestedComment()">Махни</button>
    </div>

    <br />

    <table class="table table-hover">
      <tr ng-repeat="nc in comment.comments">
        <td>
          <voting-buttons votable="nc" votable-type="'comment'" button-size="'btn-xs'"></voting-buttons>
        </td>
        <td>
          <p class="text-muted"><a href="{{ nc.user_profile_url }}">{{ nc.user.name }}</a></p>
          {{ nc.content }}
          <br />
          <comment-actions comment="nc" nested="true"></comment-actions>
        </td>
      </tr>
      <tr ng-show="comment.comments.length == 0">
        <td colspan="2">
          <i>Няма налични коментари</i>
        </td>
      </tr>
    </table>
  </div>
</div>

