<div class="btn-group">
  <button class="btn btn-default btn-xs" ng-hide="nested" ng-click="comment.showReplyBox=!comment.showReplyBox">Отговори</button>

  <button class="btn btn-default btn-xs" ng-hide="nested" ng-click="showNestedComments(comment)">Покажи {{ comment.comments_count }} коментара</button>

  <div class="btn-group">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-disabled="true" data-toggle="dropdown">
      Докладвай
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="flag(comment, 'spam')">СПАМ</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="flag(comment, 'hatespeech')">Език на омразата</a></li>
    </ul>
  </div>

  <button class="btn btn-danger btn-xs" ng-click="destroyComment(comment)">Изтрий</button>
</div>


