<div class="dropdown pull-right">
  <button class="btn btn-default {{ size }} dropdown-toggle" type="button" id="dropdownMenu1" data-disabled="true" data-toggle="dropdown">
    <i class="fa fa-bullhorn fa-lg"></i>&nbsp; Докладвай
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="flag(flaggable, 'spam')"><i class="fa fa-keyboard-o fa-lg"></i>&nbsp; СПАМ</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="flag(flaggable, 'hatespeech')"><i class="fa fa-users fa-lg"></i>&nbsp; Език на омразата</a></li>
  </ul>
</div>
