<h3>Цели на Наредбата</h3>

<p>Според нас, ако бъде приет ясен и прозрачен механизъм за участие на гражданите и техните организации в решенията, които се вземат за София, това ще даде възможност за представяне на всички гледни точки, а решенията ще са обосновани и обществено ангажирани.</p>

<p>Преките резултати биха били:</p>

<ul>
	<li>Активизиране на диалога между местната власт и гражданските организации, гражданите и въобще всички заинтересовани страни по въпроси, свързани с местните политики;</li>
	<li>Приемане на политики и решения, които хората познават и в голяма степен приемат;</li>
	<li>Насочване на вниманието на обществото към важните обществени проблеми, включително и за механизмите на демократично консултиране на решенията.</li>
</ul>

<p>На практика, предложеният механизъм за обществено консултиране ще помогне на местната власт за следното:</p>

<ul>
	<li>да получи по структуриран начин поглед „отвън” върху проблемите;</li>
	<li>да използва потенциала и експертизата на гражданските организации в изготвянето на политики;</li>
	<li>да не допусне да има недоволни от невключването в даден процес на обществено консултиране;</li>
	<li>да не остави впечатление в обществото, че няма диалог;</li>
	<li>да вземе най-адекватните и необходими на хората решения, които са в синхрон с нуждите им.</li>
</ul>

<p>Чрез резултатите от проекта гражданските организации ще получат възможност за:</p>

<ul>
	<li>участие в подготовката, приемане и прилагане на политики, познаване на механизмите за разработването им, както и начините на работа в администрацията;</li>
	<li>създаване на нагласи за партньорство и отвореност на администрацията към гражданските организации и допускането им до процеса на разработване на политики.</li>
</ul>

<br />
<a href="/proposals/theme/participation_sofia/newest" class="btn btn-success btn-lg">Обратно към предложенията</a>
