<h2>Общи условия за ползване на онлайн платформата „Гласът ни“</h2>

<p>Моля, прочетете внимателно настоящите „Общи условия за използване“ преди да използвате онлайн платформата. Тези общи условия регламентират правото да използвате безплатно ресурсите на онлайн платформата за лични и нетърговски цели при спазване на условията, посочени по-долу. Чрез достъпа до (зареждането) на интернет страницата на онлайн платформата, Вие се съгласявате да бъдете обвързан от настоящите общи условия и всички последващи промени в тях, както и се задължавате да ги спазвате. В случай, че не сте съгласни с всички общи условия по-долу, моля не използвайте онлайн платформата.</p>

<h3>I. Основни понятия</h3>

<p>По смисъла на настоящите Общи условия изброените понятия са използвани със следното значение:</p>

<p><strong>„ПОТРЕБИТЕЛ“</strong> е всяко физическо лице, което използва някоя от услугите на онлайн платформата.</p>
<p><strong>„СОБСТВЕНИК НА ОНЛАЙН ПЛАТФОРМАТА“</strong> е <a href="http://bcnl.org">фондация „Български център за нестопанско право“</a></p>
<p><strong>„УСЛУГА/И“</strong> на онлайн платформата включват:
  <ul>
  <li>получаване на достъп до предоставяните през уеб браузър информационни ресурси/данни на онлайн платформата;</li>
  <li>възможност за участие чрез публикуване на предложения и коментари в онлайн платформата;</li>
  <li>възможност за създаване и персонализация на потребителски профили посредством регистрация, която дава възможност за безплатен и пълен достъп до изградената функционалност за обикновени потребители (които не са администратори) да се ползват от информационните ресурси на онлайн платформата;</li>
  <li>получаване след регистрация на e-mail бюлетин от администраторите на онлайн платформата.</li>
</ul>
</p>
<p><strong>„АДМИНИСТРАТОР“</strong> е всяко лице, с което Български център за нестопанско право се намира в договорни отношения, което има право да администрира и  управлява чрез съответен достъп с администраторски права системата и съдържанието на онлайн</p>
<p><strong>„МОДЕРАТОР“</strong> е всяко лице, с което Български център за нестопанско право се намира в договорни отношения, което има право да администрира и  управлява чрез съответен достъп с модераторски права части от съдържанието на онлайн платформата.</p>

<h3>II. Общи разпоредби</h3>

<p>Настоящите общи условия имат обвързващо действие само в отношенията между Вас като ПОТРЕБИТЕЛ на онлайн платформата „Гласът ни“ и СОБСТВЕНИКA НА ОНЛАЙН ПЛАТФОРМАТА.</p>

<p>Вие получавате правото да използвате услугите на онлайн платформата единствено за лични/нетърговски цели.</p>

<p>БЦНП с подкрепата на Общество БГ разработи настоящата платформа като продукт <a href="http://opensource.org/osd">opensource</a>, като изцяло се придържа към всички принципи заложени в правилата за използване на този тип продукт (можете да видите правилата преведени <a href="http://bg.wikipedia.org/wiki/Софтуер_с_отворен_код">тук</a>). Ограничения при използването могат да бъдат налагани само ако не се спазват настоящите общи условия за ползване на онлайн платформата „Гласът ни“, или се нарушава чл. 39, ал. 2 от Конституцията на Република България („Чл. 39. (1) Всеки има право да изразява мнение и да го разпространява чрез слово - писмено или устно, чрез звук, изображение или по друг начин. (2) Това право не може да се използва за накърняване на правата и доброто име на другиго и за призоваване към насилствена промяна на конституционно установения ред, към извършване на престъпления, към  разпалване на вражда или към насилие над личността.“)</p>

<p>При добавяне на мнение/коментар и/или отправяне на предложения по темите, Вие се съгласявате да спазвате настоящите общи условия за ползване. СОБСТВЕНИКЪТ НА ОНЛАЙН ПЛАТФОРМАТА не носи отговорност за изразените от Вас мнения, като всякакви расистки, хомофобски, сексистки, шовинистки коментари/текстове ще бъдат изтривани, както и такива приканващи към насилие над хора или животни.</p>

<h3>III. Авторски права</h3>

<p>Всички права са запазени. Всички права на интелектуална собственост върху информационните ресурси и материали, публикувани на онлайн платформата са обект на закрила по действащия Закон за авторското право и сродните му права, а нерегламентираното им използване представлява закононарушение и влече гражданска, административно наказателна и наказателна отговорност в съответствие с действащото българско законодателство.</p>

<p>Всеки има право да цитира информация от онлайн платформата, като носи отговорността за нейната достоверност. При цитиране е задължително да се упомене източникът, придружен с хипер-връзка към неговия интернет адрес. Включването на връзки към материали от онлайн платформата и електроните бюлетини във Ваша интернет страница се допуска само със съгласието на СОБСТВЕНИКA НА ОНЛАЙН ПЛАТФОРМАТА.</p>

<p>Използване на материали извън посочения смисъл, за захранването на бази данни, публикуване, размножаване, всяка форма на търговско използване, както и препредаването на трети лица без знанието и съгласието на СОБСТВЕНИКA НА ОНЛАЙН ПЛАТФОРМАТА, е забранено.</p>

<h3>IV. Конфиденциалност</h3>

<p>Фондация „Български център за нестопанско право“ е администратор на лични данни, регистриран по Закона за защита на личните данни.</p>

<p>Фондация „Български център за нестопанско право“ се ангажира да гарантира неприкосновеността на информацията, съдържаща лични данни, предоставяна от потребителите онлайн посредством попълнени заявки за регистрация. Разкриване е възможно единствено в случаите, когато информацията е изискана от държавни органи или длъжностни лица, оправомощени със закон да изискват и събират информация съдържаща лични данни и при спазване на нормативно установения ред.</p>

<p>СОБСТВЕНИКЪТ НА ОНЛАЙН ПЛАТФОРМАТА няма да предоставя събраната статистическа информация за посещаемостта на онлайн платформата на трети страни с маркетингови и/или рекламни и/или търговски цели.</p>

<p>С приемането на настоящите Общи условия, ПОТРЕБИТЕЛЯТ се съгласява с обработването на личните му данни единствено за целите на функционирането на онлайн платформата. Потребителят има право да възрази срещу обработването на личните му данни, като изпрати писмено съобщение до фондация „Български център за нестопанско право“ на адрес: София 1000, ул. Христо Белчев № 3 или e-mail на info@bcnl.org</p>

<h3>V. Органичаване на отговорността</h3>

<p>Информацията, материалите, предложенията, мненията и коментарите по дадена тема не следва да се разглеждат като представени от позицията на "последна инстанция". Фондация „Български център за нестопанско право“ и отделни нейни служители не могат да носят отговорност в случай на загуби или други неблагоприятни последици за лица или организации, действали или въздържали се от действие в резултат на информация, поместена в онлайн платформата или в e-mail бюлетините.</p>

<p>УСЛУГИТЕ на онлайн платформата се предоставят на потребителите без изрични гаранции или отстъпване на правата върху информацията в тях. Фондация „Български център за нестопанско право“ и посредниците ѝ не могат да бъдат държани отговорни за каквито и да било щети на трети лица, произлезли от употребата или невъзможността от употреба на информация на онлайн платформата, дори ако фондация „Български център за нестопанско право“ е била предупредена за възможността от възникването им.</p>

<p>Фондация „Български център за нестопанско право“ си запазва правото да прави корекции в информацията/материалите по темите с онлайн платформата по всяко време без предварително уведомяване.</p>

<h3>VI. Регистрация</h3>

<p>Вие имате възможност да получите безплатен и пълен достъп до информационните ресурси на онлайн платформата. За целта е необходимо да се регистирате в системата и да си създадете индивидуален потребителски профил.</p>

<p>При регистрацията си, Вие се задължавате да предоставяте пълна, вярна, истинска и точна информация. СОБСТВЕНИКЪТ НА ОНЛАЙН ПЛАТФОРМАТА си запазва правото да прецени дали да предостави профил/акаунт/ на потребителя или да отстрани потребителски профили, които по своя преценка счита за неприемливи, както и в случай, че има основателни съмнения за нарушаване на настоящите общи условия.</p>

<h3>VII. Промени</h3>

<p>СОБСТВЕНИКЪТ НА ОНЛАЙН ПЛАТФОРМАТА си запазва правото да извършва промени в настоящите общи условия по всяко време, като своевременно публикува тези промени в сайта, заедно със съобщение за промените в Общите условия. Промените влизат в сила от момента на публикуването им.</p>

<p>За всички неуредени с настоящите Общи условия въпроси се прилага действащото българско законодателство.</p>
