<div class="row">
  <div class="col-md-1 text-center">
    <br />
    <br />
    <voting-buttons votable="proposal" votable-type="proposal"></voting-buttons>
  </div>
  <div class="col-md-11">
    <h3 id="title">{{ proposal.title }}</h3>
    <a class="btn btn-success btn-sm pull-left" href="/proposals/theme/{{ proposal.theme.en_name }}/{{ $root.params.order }}">{{ proposal.theme.name }}</a>
    <div class="btn-group pull-right">
      <a ng-if="AuthService.getUser().role == 'moderator' || proposal.user.id == AuthService.getUser().id" class="btn btn-default btn-sm" href="/proposals/{{ proposal.id }}/edit"><i class="fa fa-pencil fa-lg"></i>&nbsp; Редактирай</a>
      <button ng-if="proposal.approved && AuthService.getUser().role == 'moderator'" class="btn btn-danger btn-sm" ng-click="approval(proposal, false)"><i class="fa fa-pencil fa-lg"></i>&nbsp; Махни одобрение</button>
      <button ng-if="!proposal.approved && AuthService.getUser().role == 'moderator'" class="btn btn-success btn-sm" ng-click="approval(proposal, true)"><i class="fa fa-pencil fa-lg"></i>&nbsp; Одобри</button>
      <button ng-if="AuthService.getUser().role == 'moderator' || proposal.user.id == AuthService.getUser().id" class="btn btn-default btn-sm btn-danger" ng-click="destroyProposal(proposal)" rel="nofollow">
        <i class="fa fa-times fa-lg"></i>&nbsp; Изтрий
      </button>
    </div>
    <flag-button ng-if="!(AuthService.getUser().role == 'moderator' || AuthService.getUser().id == proposal.user.id)" type="proposal" flaggable="proposal" size="btn-sm"></flag-button>
  </div>
</div>

<br />
<div class="clearfix"></div>
<div ng-if="!proposal.approved" class="bs-callout bs-callout-danger">
  <h4>Това предложение чака одобрение от модератор!</h4>
  До тогава, няма да излиза в списъка с предложения.
</div>
<alert ng-repeat="alert in proposal.alerts" type="{{ alert.type }}" close="proposal.alerts=[]">{{ alert.msg }}</alert>

<markdown content="proposal.content"></markdown>

<div class="row">
  <div class="col-md-8">
    <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
    </div>
  </div>
  <div class="col-md-4">
    <user-button user="proposal.user"></user-button>
  </div>
</div>

<hr />

<h3 id="comments">Коментари</h3>

<div ng-controller="CommentController">

  <div class="row">
    <div class="col-md-2 col-sm-2">
      <filter order="params.order">
        <li><a href="" ng-show="params.order != 'newest'" ng-click="params.order='newest'"><i class="fa fa-calendar fa-lg"></i>&nbsp; Най-нови</a></li>
        <li><a href="" ng-show="params.order != 'oldest'" ng-click="params.order='oldest'"><i class="fa fa-calendar-o fa-lg"></i>&nbsp; Най-стари</a></li>
        <li><a href="" ng-show="params.order != 'relevance'" ng-click="params.order='relevance'"><i class="fa fa-trophy fa-lg"></i>&nbsp; Най-подкрепени</a></li>
      </filter>
    </div>
    <div class="col-md-10 col-sm-10 hidden-xs">
      <pagination ng-model="params.page" total-items="commentsCount" items-per-page="<%= Comment.default_per_page %>" max-size="5"
      class="pull-right" boundary-links="true" rotate="false" num-pages="numPages" previous-text="Предишна" next-text="Следваща" first-text="Първа"
      last-text="Последна"></pagination>
    </div>
  </div>
  <br />

  <div id="no-comments" class="bs-callout bs-callout-info" ng-show="comments.length == 0">
    <h4>Все още няма коментари!</h4>
    Бързо напиши един, за да изпревариш останалите!
  </div>

  <table class="table table-hover">
    <tr ng-repeat="comment in comments" ng-class="{warning: comment.user.moderator}" class="active">
    <td>
      <voting-buttons votable="comment" votable-type="comment"></voting-buttons>
      <p class="text-muted text-center rating">{{ comment.hotness }}</p>
    </td>
    <td class="col-md-12">
      <p class="pull-left"><strong><a href="/users/{{ comment.user.id }}">{{ comment.user.name }}</a></strong>
      (
      <i class="fa fa-binoculars" ng-show="comment.user.comments_rank == 'observer'"></i>
      <i class="fa fa-bullhorn" ng-show="comment.user.comments_rank == 'speaker'"></i>
      <i class="fa fa-microphone" ng-show="comment.user.comments_rank == 'orator'"></i>

      <i class="fa fa-eye" ng-show="comment.user.proposals_rank == 'enthusiast'"></i>
      <i class="fa fa-gavel" ng-show="comment.user.proposals_rank == 'activist'"></i>
      <i class="fa fa-institution" ng-show="comment.user.proposals_rank == 'policy_maker'"></i>
      )
      | <span class="text-muted">{{ comment.timeAgo }}</span></p>

      <flag-button ng-if="!(AuthService.getUser().role == 'moderator' || AuthService.getUser().id == comment.user.id)" type="comment" flaggable="comment" size="btn-xs"></flag-button>
      <div class="clearfix"></div>
      <alert ng-repeat="alert in comment.alerts" type="{{ alert.type }}" close="comment.alerts=[]">{{alert.msg}}</alert>
      <markdown content="comment.content"></markdown>

      <small>
        <a href="#" ng-click="comment.reply.showBox = true" rel="nofollow">Отговори</a> |
        <a href="#" ng-if="AuthService.getUser().role == 'moderator' || AuthService.getUser().id == comment.user.id" ng-click="destroyComment(comment)" rel="nofollow">Изтрий</a>
      </small>

      <table class="table" ng-show="comment.reply.showBox">
        <tr>
          <td>
            <textarea name="" id="" cols="3" rows="3" class="form-control" placeholder="Напиши твоя отговор тук."></textarea>
            <br/>
            <button class="btn btn-success btn-xs" ng-disabled="comment.reply.content == ''" ng-click="createNewComment(comment)"><i class="fa fa-comment fa-xs"></i>&nbsp; Коментирай</button>
            <button class="btn btn-default btn-xs" ng-click="cancelReply(comment)"><i class="fa fa-close fa-xs"></i> Отказах се да пиша</button>
          </td>
        </tr>
      </table>

    </td>
    </tr>
  </table>

  <pagination ng-model="params.page" total-items="commentsCount" items-per-page="<%= Comment.default_per_page %>" max-size="5"
  class="pagination-sm pull-right visible-xs" boundary-links="false" rotate="false" num-pages="numPages" previous-text="Предишна" next-text="Следваща"></pagination>

  <pagination ng-model="params.page" total-items="commentsCount" items-per-page="<%= Comment.default_per_page %>" max-size="5"
              class="pagination-sm pull-right hidden-xs" boundary-links="true" rotate="false" num-pages="numPages" previous-text="Предишна" next-text="Следваща" first-text="Първа"
              last-text="Последна"></pagination>

  <div class="clearfix"></div>
  <h4>Нов коментар</h4>

  <div ng-show="AuthService.getUser()">

    <div id="warning-box" class="bs-callout bs-callout-danger" style="display:none">
      <h4>Само да ти кажем някои неща...</h4>
      Опитай се да бъдеш максимално изчерпателен(на). Всякакви расистки, хомофобски, сексистки, шовинистки коментари ще бъдат изтривани, както и коментари приканващи към насилие над хора или животни.
    </div>

    <textarea id="comment-box" name="" rows="3" cols="40" class="form-control" ng-model="newComment.content" ng-focus="showWarning()" placeholder="Напиши своя коментар тук."></textarea>
    <br />
    <div class="row">
      <div class="col-md-1">
        <button class="btn btn-success" ng-disabled="comment.newComment.content == ''" ng-click="createNewComment()"><i class="fa fa-comment fa-lg"></i>&nbsp; Коментирай</button>
      </div>
    </div>

  </div>
  <div ng-hide="AuthService.getUser()">

    <div id="not-registered" class="bs-callout bs-callout-danger">
      <h4>Само регистрирани потребители могат да оставят коментари.</h4>
      Регистрирането ти позволява също да гласуваш, да даваш предложения и да разбереш какъв интерес имат те сред другите участници от сайта. Бъди активен!
    </div>

  </div>

</div>
