<div class="row themes-navigation">
  <div class="col-md-6 col-sm-6 col-xs-6 text-center">
    <ul class="nav nav-pills nav-stacked" role="tablist">
      <li ng-class="{active: $root.params.theme=='all'}"><a href="/proposals/theme/all/{{ $root.params.order }}">Всички теми &nbsp;<span class="label label-primary" ng-show="$root.params.theme=='all'">{{ proposalsCount }}</span></a></li>
      <li ng-class="{active: $root.params.theme=='social'}"><a href="/proposals/theme/social/{{ $root.params.order }}">Социално предприемачество &nbsp;<span class="label label-primary" ng-show="$root.params.theme=='social'">{{ proposalsCount }}</span></a></li>
    </ul>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6 text-center">
    <ul class="nav nav-pills nav-stacked" role="tablist">
      <li ng-class="{active: $root.params.theme=='choose_theme'}"><a href="/proposals/theme/choose_theme/{{ $root.params.order }}">Предложи тема &nbsp;<span class="label label-primary" ng-show="$root.params.theme=='choose_theme'">{{ proposalsCount }}</span></a></li>
    </ul>
  </div>
</div>

<div ng-show="$root.params.theme != 'all'" class="themes-info">
  {{ selectedTheme.info }}
</div>

<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-6">

    <filter order="$root.params.order">
      <li><a href="/proposals/theme/{{ $root.params.theme }}/newest" ng-show="$root.params.order != 'newest'"><i class="fa fa-calendar fa-lg"></i>&nbsp; Най-нови</a></li>
      <li><a href="/proposals/theme/{{ $root.params.theme }}/oldest" ng-show="$root.params.order != 'oldest'"><i class="fa fa-calendar-o fa-lg"></i>&nbsp; Най-стари</a></li>
      <li><a href="/proposals/theme/{{ $root.params.theme }}/relevance" ng-show="$root.params.order != 'relevance'"><i class="fa fa-trophy fa-lg"></i>&nbsp; Най-подкрепени</a></li>
      <li><a href="/proposals/theme/{{ $root.params.theme }}/most-comments" ng-show="$root.params.order != 'most-comments'"><i class="fa fa-comments fa-lg"></i>&nbsp; Коментирани</a></li>
      <li><a href="/proposals/theme/{{ $root.params.theme }}/least-comments" ng-show="$root.params.order != 'least-comments'"><i class="fa fa-comments-o fa-lg"></i>&nbsp; Некоментирани</a></li>
    </filter>

  </div>

  <div class="col-md-9 col-lg-9 hidden-xs hidden-sm">
    <pagination ng-model="$root.params.page" ng-change="pageChanged()" total-items="proposalsCount" items-per-page="<%= Proposal.default_per_page %>" max-size="5" class="pull-right" boundary-links="true"
    rotate="false" previous-text="Предишна" next-text="Следваща" first-text="Първа" last-text="Последна"></pagination>
  </div>

  <div class="col-sm-6 col-xs-6 hidden-lg hidden-md hidden-xs">
    <pagination ng-model="$root.params.page" ng-change="pageChanged()" total-items="proposalsCount" items-per-page="<%= Proposal.default_per_page %>" max-size="0" class="pull-right"
                rotate="false" previous-text="Предишна" next-text="Следваща" first-text="Първа" last-text="Последна"></pagination>
  </div>
</div>

<br />
<div class="row row-no-gutter" ng-repeat="proposal in proposals">
  <div class="col-md-1 col-sm-1 text-center">
    <voting-buttons votable="proposal" votable-type="proposal"></voting-buttons>
  </div>
  <div class="col-md-11 col-sm-11">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="/proposals/{{ proposal.id }}#title">{{ proposal.title }}</a>
        <span ng-if="AuthService.getUser().role == 'moderator'" class="label" ng-class="{'label-success': proposal.approved, 'label-danger': !proposal.approved }">{{ proposal.approved ? "Одобрено" : "Неодобрено" }}</span>
        <br />
        <small>
          в <a href="/themes/{{ proposal.theme.id }}">{{ proposal.theme.name }}</a> |
          {{ proposal.commentsCount }} коментара |
          автор: <a href="/users/{{ proposal.user.id }}">{{ proposal.user.name }}</a> |
          модератор: <a href="/users/{{ proposal.theme.moderator.id }}">{{ proposal.theme.moderator.name }}</a> |
          създадено {{ proposal.timeAgo }} |
          гласували за: {{ proposal.up }} против: {{ proposal.down }}
        </small>
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-hide="proposals.length">
  <div class="alert alert-info" role="alert">
    Няма намерени предложения по зададените критерии.
  </div>
</div>

<div class="row">
  <div class="col-md-12 hidden-xs">
    <pagination ng-model="$root.params.page" ng-change="pageChanged()" total-items="proposalsCount" items-per-page="<%= Proposal.default_per_page %>" max-size="5" class="pagination-sm pull-right" boundary-links="true"
                rotate="false" previous-text="Предишна" next-text="Следваща" first-text="Първа" last-text="Последна"></pagination>
  </div>
  <div class="col-md-12 visible-xs">
    <pagination ng-model="$root.params.page" ng-change="pageChanged()" total-items="proposalsCount" items-per-page="<%= Proposal.default_per_page %>" max-size="5" class="pagination-sm pull-right"
                rotate="false" previous-text="Предишна" next-text="Следваща"></pagination>
  </div>
</div>

<div class="clearfix"></div>
<br />
<p class="text-muted pull-right">Показани са {{ proposals.length }} от {{ proposalsCount }} предложения.</p>

