<div class="row">
  <div class="col-md-1">
    <br />
    <br />
    <center>
      <voting-buttons votable="proposal" votable-type="proposal"></voting-buttons>
      <p class="text-muted rating">{{ proposal.hotness }}</p>
    </center>
  </div>
  <div class="col-md-11">
    <h3>{{ proposal.title }}</h3>
    <a class="btn btn-success btn-sm pull-left" href="/#/themes/{{ proposal.theme.id }}">{{ proposal.theme.name }}</a>
    <div class="btn-group pull-right">
      <a class="btn btn-default btn-sm" href="/#/proposals/{{ proposal.id }}/edit"><i class="fa fa-pencil fa-lg"></i>&nbsp; Редактирай</a>
      <a class="btn btn-default btn-sm btn-danger" ng-click="delete(proposal)" rel="nofollow">
        <i class="fa fa-times fa-lg"></i>&nbsp; Изтрий
      </a>
    </div>
    <flag-button type="proposal" flaggable="proposal" size="btn-sm"></flag-button>
  </div>
</div>

<br />
<div class="clearfix"></div>
<alert ng-repeat="alert in proposal.alerts" type="{{ alert.type }}" close="proposal.alerts=[]">{{ alert.msg }}</alert>

<markdown content="proposal.content"></markdown>

<div class="row">
  <div class="col-md-8">
    <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
    </div>
  </div>
  <div class="col-md-4">
    <user-button user="proposal.user"></user-button>
  </div>
</div>

<hr />

<h3>Коментари</h3>

<div ng-controller="CommentCreateController">
  <div ng-show="logged_in">

    <div id="warning-box" class="bs-callout bs-callout-danger" style="display:none">
      <h4>Само да ти кажем някои неща...</h4>
      Опитай се да бъдеш максимално изчерпателен(на). Всякакви расистки, хомофобски, сексистки, шовинистки коментари ще бъдат изтривани, както и коментари приканващи към насилие над хора или животни.
    </div>

    <textarea id="comment-box" name="" rows="3" cols="40" class="form-control" ng-model="newComment.content" ng-focus="showWarning()" placeholder="Напиши своя коментар тук."></textarea>
    <br />
    <div class="row">
      <div class="col-md-1">
        <button class="btn btn-success" ng-disabled="newComment.content == ''" ng-click="createNewComment()"><i class="fa fa-comment fa-lg"></i>&nbsp; Коментирай</button>
      </div>
    </div>

  </div>
  <div ng-hide="logged_in">

    <div id="not-registered" class="bs-callout bs-callout-danger">
      <h4>Само регистрирани потребители могат да оставят коментари.</h4>
      Регистрирането ти позволява също да гласуваш, да даваш предложения и да разбереш какъв интерес имат те сред другите участници от сайта. Бъди активен!
    </div>

  </div>
</div>

<br />

<div ng-controller="CommentIndexController">
  <div class="row">
    <div class="col-md-2 col-sm-2">
      <filter order="params.order">
        <li><a href="" ng-show="params.order != 'newest'" ng-click="params.order='newest'"><i class="fa fa-calendar fa-lg"></i>&nbsp; Най-нови</a></li>
        <li><a href="" ng-show="params.order != 'oldest'" ng-click="params.order='oldest'"><i class="fa fa-calendar-o fa-lg"></i>&nbsp; Най-стари</a></li>
        <li><a href="" ng-show="params.order != 'relevance'" ng-click="params.order='relevance'"><i class="fa fa-trophy fa-lg"></i>&nbsp; Най-подкрепени</a></li>
      </filter>
    </div>
    <div class="col-md-10 col-sm-10">
      <pagination ng-model="params.page" total-items="commentsCount" items-per-page="<%= Comment.default_per_page %>" max-size="5"
      class="pull-right" boundary-links="true" rotate="false" num-pages="numPages" previous-text="Предишна" next-text="Следваща" first-text="Първа"
      last-text="Последна"></pagination>
    </div>
  </div>
  <br />

  <div id="no-comments" class="bs-callout bs-callout-info" ng-show="comments.length == 0">
    <h4>Все още няма коментари!</h4>
    Бързо напиши един, за да изпревариш останалите!
  </div>

  <div id="comments-list">
    <div ng-repeat="comment in comments">

      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1">
          <center>
            <voting-buttons votable="comment" votable-type="comment"></voting-buttons>
            <p class="text-muted rating">{{ comment.hotness }}</p>
          </center>
        </div>
        <div class="col-md-11 col-sm-11 col-xs-11">
          <markdown content="comment.content"></markdown>
          <alert ng-repeat="alert in comment.alerts" type="{{ alert.type }}" close="comment.alerts=[]">{{alert.msg}}</alert>

          <div class="row">
            <div class="col-md-10">
              <!-- comment actions -->
              <div class="btn-group">
                <flag-button type="comment" flaggable="comment" size="btn-xs"></flag-button>
                <button class="btn btn-danger btn-xs" ng-click="destroyComment(comment, $index)">Изтрий</button>
              </div>
              <!-- end of comment actions -->
            </div>
            <div class="col-md-2">
              <user-button user="comment.user"></user-button>
            </div>
          </div>

        </div>
      </div>

      <hr ng-hide="$last"/>

    </div>
  </div>

  <pagination ng-model="params.page" total-items="commentsCount" items-per-page="<%= Comment.default_per_page %>" max-size="5"
  class="pagination-sm pull-right" boundary-links="true" rotate="false" num-pages="numPages" previous-text="Предишна" next-text="Следваща" first-text="Първа"
  last-text="Последна"></pagination>

</div>
