<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs" role="tablist">
      <li ng-class="{active: $root.params.theme=='all'}"><a href="/#/proposals/theme/all/{{ $root.params.order }}">Всички теми &nbsp;<span class="label label-primary" ng-show="$root.params.theme=='all'">{{ proposalsCount }}</span></a></li>
      <li ng-class="{active: $root.params.theme=='volunteering'}"><a href="/#/proposals/theme/volunteering/{{ $root.params.order }}">Доброволчество &nbsp;<span class="label label-primary" ng-show="$root.params.theme=='volunteering'">{{ proposalsCount }}</span></a></li>
      <li ng-class="{active: $root.params.theme=='ngo'}"><a href="#/proposals/theme/ngo/{{ $root.params.order }}">НПО &nbsp;<span class="label label-primary" ng-show="$root.params.theme=='ngo'">{{ proposalsCount }}</span></a></li>
      <li ng-class="{active: $root.params.theme=='participation'}"><a href="#/proposals/theme/participation/{{ $root.params.order }}">Гражданско участие &nbsp;<span class="label label-primary" ng-show="$root.params.theme=='participation'">{{ proposalsCount }}</span></a></li>
      <li ng-class="{active: $root.params.theme=='education'}"><a href="#/proposals/theme/education/{{ $root.params.order }}">Гражданско образование &nbsp;<span class="label label-primary" ng-show="$root.params.theme=='education'">{{ proposalsCount }}</span></a></li>
      <li ng-class="{active: $root.params.theme=='meta'}"><a href="#/proposals/theme/meta/{{ $root.params.order }}">Мета &nbsp;<span class="label label-primary" ng-show="$root.params.theme=='meta'">{{ proposalsCount }}</span></a></li>
    </ul>
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-3">

    <filter order="$root.params.order">
      <li><a href="/#/proposals/theme/{{ $root.params.theme }}/newest" ng-show="$root.params.order != 'newest'"><i class="fa fa-calendar fa-lg"></i>&nbsp; Най-нови</a></li>
      <li><a href="/#/proposals/theme/{{ $root.params.theme }}/oldest" ng-show="$root.params.order != 'oldest'"><i class="fa fa-calendar-o fa-lg"></i>&nbsp; Най-стари</a></li>
      <li><a href="/#/proposals/theme/{{ $root.params.theme }}/relevance" ng-show="$root.params.order != 'relevance'"><i class="fa fa-trophy fa-lg"></i>&nbsp; Най-подкрепени</a></li>
      <li><a href="/#/proposals/theme/{{ $root.params.theme }}/most-comments" ng-show="$root.params.order != 'most-comments'"><i class="fa fa-comments fa-lg"></i>&nbsp; Коментирани</a></li>
      <li><a href="/#/proposals/theme/{{ $root.params.theme }}/least-comments" ng-show="$root.params.order != 'least-comments'"><i class="fa fa-comments-o fa-lg"></i>&nbsp; Некоментирани</a></li>
    </filter>

  </div>
  <div class="col-md-9">
    <pagination ng-model="$root.params.page" ng-change="pageChanged()" total-items="proposalsCount" items-per-page="<%= Proposal.default_per_page %>" max-size="5" class="pull-right" boundary-links="true"
    rotate="false" previous-text="Предишна" next-text="Следваща" first-text="Първа" last-text="Последна"></pagination>
  </div>
</div>

<br />
<div class="row" ng-repeat="proposal in proposals">
  <div class="col-md-1">
    <center>
      <voting-buttons votable="proposal" votable-type="proposal"></voting-buttons>
      <p class="text-muted rating">{{ proposal.hotness }}</p>
    </center>
  </div>
  <div class="col-md-11">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="/#/proposals/{{proposal.id}}">{{ proposal.title }}</a>
        <small>
          в <a href="/#/themes/{{ proposal.theme.id }}">{{ proposal.theme.name }}</a> |
          {{ proposal.commentsCount }} коментара |
          автор: <a href="/#/users/{{ proposal.user.id }}">{{ proposal.user.name }}</a> |
          модератор: <a href="/#/users/{{ proposal.theme.moderator.id }}">{{ proposal.theme.moderator.name }}</a>
        </small>
        </h3>
      </div>
      <div class="panel-body">
        <markdown content="proposal.content"></markdown>
      </div>
    </div>
  </div>
</div>
<div class="row" ng-hide="proposals.length">
  <div class="alert alert-danger" role="alert">
    Няма намерени предложения по зададените критерии.
  </div>
</div>

<pagination ng-model="$root.params.page" ng-change="pageChanged()" total-items="proposalsCount" items-per-page="<%= Proposal.default_per_page %>" max-size="5" class="pagination-sm pull-right" boundary-links="true"
rotate="false" previous-text="Предишна" next-text="Следваща" first-text="Първа" last-text="Последна"></pagination>

<div class="clearfix"></div>
<br />
<p class="text-muted pull-right">Показани са {{ proposals.length }} от {{ proposalsCount }} предложения.</p>
