<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs" role="tablist">
      <li ng-class="{active: theme=='all'}"><a href="/#/all/{{ order }}/{{ currentPage }}">Всички теми</a></li>
      <li ng-class="{active: theme=='volunteering'}"><a href="/#/volunteering/{{ order }}/{{ currentPage }}">Доброволчество</a></li>
      <li ng-class="{active: theme=='ngo'}"><a href="#/ngo/{{ order }}/{{ currentPage }}">НПО</a></li>
      <li ng-class="{active: theme=='participation'}"><a href="#/participation/{{ order }}/{{ currentPage }}">Гражданско участие</a></li>
      <li ng-class="{active: theme=='education'}"><a href="#/education/{{ order }}/{{ currentPage }}">Гражданско образование</a></li>
      <li ng-class="{active: theme=='meta'}"><a href="#/meta/{{ order }}/{{ currentPage }}">Мета-тема</a></li>
    </ul>
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-3">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-disabled="true" data-toggle="dropdown">
        <i class="fa fa-calendar fa-lg" ng-show="order == 'newest'"></i>
        <i class="fa fa-calendar-o fa-lg" ng-show="order == 'oldest'"></i>
        <i class="fa fa-trophy fa-lg" ng-show="order == 'relevance'"></i>
        <i class="fa fa-comments fa-lg" ng-show="order == 'most-comments'"></i>
        <i class="fa fa-comments-o fa-lg" ng-show="order == 'least-comments'"></i>
        &nbsp; {{ order | translateOrder }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/#/{{ theme }}/newest/{{ curentPage }}" ng-show="order != 'newest'"><i class="fa fa-calendar fa-lg"></i>&nbsp; Най-нови</a></li>
        <li><a href="/#/{{ theme }}/oldest/{{ currentPage }}" ng-show="order != 'oldest'"><i class="fa fa-calendar-o fa-lg"></i>&nbsp; Най-стари</a></li>
        <li><a href="/#/{{ theme }}/relevance/{{ currentPage }}" ng-show="order != 'relevance'"><i class="fa fa-trophy fa-lg"></i>&nbsp; Релевантност</a></li>
        <li><a href="/#/{{ theme }}/most-comments/{{ currentPage }}" ng-show="order != 'most-comments'"><i class="fa fa-comments fa-lg"></i>&nbsp; Коментирани</a></li>
        <li><a href="/#/{{ theme }}/least-comments/{{ currentPage }}" ng-show="order != 'least-comments'"><i class="fa fa-comments-o fa-lg"></i>&nbsp; Некоментирани</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    <pagination ng-model="currentPage" total-items="proposalsCount" items-per-page="<%= Proposal.default_per_page %>" max-size="5" class="pull-right" boundary-links="true"
    rotate="false" num-pages="numPages" previous-text="Предишна" next-text="Следваща" first-text="Първа" last-text="Последна"></pagination>
  </div>
</div>

<br />
<div class="row" ng-repeat="proposal in proposals">
  <div class="col-md-1">
    <center>
      <voting-buttons votable="proposal" votable-type="'proposal'"></voting-buttons>
      <p class="text-muted rating">{{ proposal.hotness }}</p>
    </center>
  </div>
  <div class="col-md-11">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="/proposals/{{proposal.id}}">{{ proposal.title }}</a>
        <small>
          в <a href="/themes/{{ proposal.theme_id }}">{{ proposal.theme_name }}</a> |
          {{ proposal.comments_count }} коментара |
          автор: <a href="/users/{{ proposal.user_id }}">{{ proposal.username }}</a>
        </small>
        </h3>
      </div>
      <div class="panel-body">
        {{ proposal.content }}
      </div>
    </div>
  </div>
</div>
<div class="row" ng-hide="proposals.length">
  <div class="alert alert-danger" role="alert">
    Няма намерени предложения по зададените критерии.
  </div>
</div>

<pagination ng-model="currentPage" total-items="proposalsCount" items-per-page="<%= Proposal.default_per_page %>" max-size="5" class="pagination-sm pull-right" boundary-links="true"
rotate="false" num-pages="numPages" previous-text="Предишна" next-text="Следваща" first-text="Първа" last-text="Последна"></pagination>

