<h1>{{ title }}</h1>

<div class="form-group">
  <select class="form-control" ng-model="proposal.theme.id">
    <% Theme.pluck(:id, :name).each do |t| %>
      <option value="<%= t[0] %>" ng-selected="proposal.theme.id == <%= t[0] %>"><%= t[1] %></option>
    <% end %>
  </select>
</div>

<form name="form">

  <div class="form-group">
    <input class="form-control" id="proposal_title" name="proposal[title]" placeholder="Заглавие" type="text" ng-model="proposal.title" required>
  </div>

  <div class="form-group">
    <textarea class="form-control" id="proposal_content" name="proposal[content]" placeholder="Опишете подробно вашата идея." rows="10" ng-model="proposal.content"></textarea>
  </div>

  <div class="row" ng-show="showFormatting">
    <div class="col-md-6">
      <div class="panel panel-default">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="col-md-6 col-sm-6 col-xs-6 active">Текст</th>
              <th class="col-md-6 col-sm-6 col-xs-6">Как изглежда</th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <td class="active">*наклонен*</td>
            <td><i>наклонен</i></td>
          </tr>
          <tr>
            <td class="active">**удебелен**</td>
            <td><strong>удебелен</strong></td>
          </tr>
          <tr>
            <td class="active"># заглавие</td>
            <td><h1>Заглавие</h1></td>
          </tr>
          <tr>
            <td class="active">## заглавие</td>
            <td><h2>Заглавие</h2></td>
          </tr>
          <tr>
            <td class="active">### заглавие</td>
            <td><h3>Заглавие</h3></td>
          </tr>
          <tr>
            <td class="active">#### заглавие</td>
            <td><h4>Заглавие</h4></td>
          </tr>
          <tr>
            <td class="active">##### заглавие</td>
            <td><h5>Заглавие</h5></td>
          </tr>
          <tr>
            <td class="active">&gt; цитат</td>
            <td><blockquote>цитат</blockquote></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="col-md-6 col-sm-6 col-xs-6 active">Текст</th>
              <th class="col-md-6 col-sm-6 col-xs-6">Как изглежда</th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <td class="active">
              * първи елемент<br />
              * втори елемент<br />
              * трети елемент<br />
              * четвърти елемент<br />
            </td>
            <td>
              <ul>
                <li>първи елемент</li>
                <li>втори елемент</li>
                <li>трети елемент</li>
                <li>четвърти елемент</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="active">`inline code`</td>
            <td><code>inline code</code></td>
          </tr>
          <tr>
            <td class="active">
```<br />
if multiline_code<br />
&nbsp;&nbsp;return true;<br />
```
            </td>
            <td>
              <pre><code>if multiline_code
  return true;
              </code></pre>
            </td>
          </tr>
          <tr>
            <td class="active">
              [Google]<br /><br />

              [Google]: http://google.com/
            </td>
            <td><a href="http://google.com">Google</a></td>
          </tr>
          <tr>
            <td class="active">
              [Google](http://google.com/)
            </td>
            <td><a href="http://google.com">Google</a></td>
          </tr>
          <tr>
            <td class="active">
              първи параграф<br /><br />

              втори параграф
            </td>
            <td>
              <p>първи параграф</p>
              <p>втори параграф</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="panel panel-default" ng-show="proposal.content">
    <div class="panel-heading clearfix">
      <div class="pull-left">Преглед</div>
      <div class="pull-right">
        <a href="" ng-hide="showFormatting" ng-click="showFormatting=!showFormatting">покажи форматирането</a>
        <a href="" ng-show="showFormatting" ng-click="showFormatting=!showFormatting">скрий форматирането</a> |
        символи: {{ proposal.content.length }} | думи: {{ proposal.content | countWords }}</div>
    </div>
    <div class="panel-body">
      <markdown content="proposal.content" class="ng-isolate-scope"></markdown>
    </div>
  </div>

  <br>
  <button type="submit" ng-disabled="form.$invalid" class="btn btn-success" ng-click="submitProposal(proposal)">
    <i class="fa {{ icon }} fa-lg"></i>&nbsp; {{ title }}
  </button>

</form>
