<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs" role="tablist">
      <li ng-class="{active: theme=='all'}"><a href="/#/all/{{ order }}/{{ page }}">Всички теми</a></li>
      <li ng-class="{active: theme=='volunteering'}"><a href="/#/volunteering/{{ order }}/{{ page }}">Доброволчество</a></li>
      <li ng-class="{active: theme=='ngo'}"><a href="#/ngo/{{ order }}/{{ page }}">НПО</a></li>
      <li ng-class="{active: theme=='participation'}"><a href="#/participation/{{ order }}/{{ page }}">Гражданско участие</a></li>
      <li ng-class="{active: theme=='education'}"><a href="#/education/{{ order }}/{{ page }}">Гражданско образование</a></li>
      <li ng-class="{active: theme=='meta'}"><a href="#/meta/{{ order }}/{{ page }}">Мета-тема</a></li>
    </ul>
  </div>
</div>

