<a href="/users/{{ user.id }}" class="btn btn-default btn-sm pull-right">
  <i class="fa fa-gavel" ng-show="user.moderator" style="color: #B94A48"></i>
  &nbsp;
  <i class="fa fa-binoculars" ng-show="user.comments_rank == 'observer'"></i>
  <i class="fa fa-bullhorn" ng-show="user.comments_rank == 'speaker'"></i>
  <i class="fa fa-microphone" ng-show="user.comments_rank == 'orator'"></i>
  &nbsp;
  <i class="fa fa-eye" ng-show="user.proposals_rank == 'enthusiast'"></i>
  <i class="fa fa-gavel" ng-show="user.proposals_rank == 'activist'"></i>
  <i class="fa fa-institution" ng-show="user.proposals_rank == 'policy_maker'"></i>
  &nbsp;
  {{ user.name }}
</a>

