<div class="page-header">
  <h1>{{ user.name }}</h1>
</div>

<img src="{{ user.avatar_url }}">

<h4>Кратка информация за потребителя</h4>
<p class="text-muted"><i>Потребителят е регистриран {{ user.time_ago }}.</i></p>

<div ng-show="user.bio">
  {{ user.bio }}
</div>
<div ng-hide="user.bio">
  <p class="text-muted"><i>Този потребител не е написал нищо за себе си.</i></p>
</div>

<br />

<button class="btn btn-primary btn-lg">{{ user.comments_rank }}</button>
<button class="btn btn-primary btn-lg">{{ user.proposals_rank }}</button>

<br />
<br />

<div class="row">

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Последни предложения</h3>
      </div>
      <ul class="list-group">
        <li ng-repeat="proposal in proposals" class="list-group-item">
          <a href="/#/proposals/{{ proposal.id }}">{{ proposal.title }}</a>
        </li>
        <li ng-hide="proposals" class="list-group-item">Този потребител не е направил предложения.</li>
      </ul>
    </div>
    <p class="text-muted">Показани са {{ proposals.length }} от {{ proposalsCount }} предложения</p>
    <more-button collection="proposals" collection-type="proposal" user-id="{{ user.id }}" next-page="2"></more-button>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Последни коментари</h3>
      </div>
      <ul class="list-group">
        <li ng-repeat="comment in comments" class="list-group-item">
          <p>{{ comment.content }}</p>
          <p class="text-muted">{{ comment.created_at }} | в <a href="/#/proposals/{{ comment.proposal.id }}">{{ comment.proposal.title }}</a></p>
          <div class="clearfix"></div>
        </li>
        <li ng-hide="comments" class="list-group-item">Този потребител не е направил коментари.</li>
      </ul>
    </div>
    <p class="text-muted">Показани са {{ comments.length }} от {{ commentsCount }} коментара</p>
    <more-button collection="comments" collection-type="comment" user-id="{{ user.id }}" next-page="2"></more-button>
  </div>

</div>

