<div class="page-header">
  <h1>{{ user.name }}</h1>
</div>

<h4>Кратка информация за потребителя</h4>
<p class="text-muted"><i>Потребителят е регистриран {{ user.time_ago }}.</i></p>

<div ng-show="user.bio">
  {{ user.bio }}
</div>
<div ng-hide="user.bio">
  <p class="text-muted"><i>Този потребител не е написал нищо за себе си.</i></p>
</div>

<br />

<a href="/ranks/observer" class="btn btn-primary btn-lg" ng-show="user.comments_rank == 'observer'"><i class="fa fa-binoculars"></i> Наблюдател</a>
<a href="/ranks/speaker" class="btn btn-warning btn-lg" ng-show="user.comments_rank == 'speaker'"><i class="fa fa-bullhorn"></i> Говорител</a>
<a href="/ranks/orator" class="btn btn-danger btn-lg" ng-show="user.comments_rank == 'orator'"><i class="fa fa-microphone"></i> Оратор</a>

<a href="/ranks/enthusiast" class="btn btn-primary btn-lg" ng-show="user.proposals_rank == 'enthusiast'"><i class="fa fa-eye"></i> Ентусиаст</a>
<a href="/ranks/activist" class="btn btn-warning btn-lg" ng-show="user.proposals_rank == 'activist'"><i class="fa fa-gavel"></i> Активист</a>
<a href="/ranks/policy_maker" class="btn btn-danger btn-lg" ng-show="user.proposals_rank == 'policy_maker'"><i class="fa fa-institution"></i> Полиси мейкър</a>

<br />
<br />

<div class="row">

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Последни предложения</h3>
      </div>
      <ul class="list-group">
        <li ng-repeat="proposal in proposals" class="list-group-item">
          <p><a href="/proposals/{{ proposal.id }}">{{ proposal.title }}</a></p>
          <small class="text-muted">в <a href="/themes/{{ proposal.theme.id }}">{{ proposal.theme.name }}</a> | {{ proposal.timeAgo }}</small>
        </li>
        <li ng-hide="proposals" class="list-group-item">Този потребител не е направил предложения.</li>
      </ul>
    </div>
    <p class="text-muted">Показани са {{ proposals.length }} от {{ proposalsCount }} предложения</p>
    <more-button ng-hide="proposals.length == proposalsCount" collection="proposals" collection-type="proposal" user-id="{{ user.id }}" next-page="2"></more-button>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Последни коментари</h3>
      </div>
      <ul class="list-group">
        <li ng-repeat="comment in comments" class="list-group-item">
          <p><markdown content="comment.content"></markdown></p>
          <small class="text-muted">{{ comment.time_ago }}</small>
          <div class="clearfix"></div>
        </li>
        <li ng-hide="comments" class="list-group-item">Този потребител не е направил коментари.</li>
      </ul>
    </div>
    <p class="text-muted">Показани са {{ comments.length }} от {{ commentsCount }} коментара</p>
    <more-button ng-hide="comments.length == commentsCount" collection="comments" collection-type="comment" user-id="{{ user.id }}" next-page="2"></more-button>
  </div>

</div>

